<%- include('../partials/header') %> 
    
<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <h6 class="display-6 mt-3">Login</h6>
            <form action="/login" method="post">
                <div class="mb-3">
                    <input type="text" class="form-control" name="username" placeholder="Username">
                </div>
                <div class="mb-3">
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <button class="btn btn-primary" type="submit">Login</button>
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>

<%- include('../partials/footer') %>