<nav class="col-2">
    <a href="http://"><i class="fab fa-twitter"></i></a>
    <a href="http://"><i class="fas fa-home"></i></a>
    <a href="http://"><i class="fas fa-search"></i></a>
    <a href="http://"><i class="fas fa-bell"></i></a>
    <a href="http://"><i class="fas fa-envelope"></i></a>
    <a href="http://"><i class="fas fa-user"></i></a>
    <a href="/logout"><i class="fas fa-sign-out-alt"></i></a>
</nav>