:root{
    --twitter-color : #0099ff;
    --button-hover-bg: #d4edff;
    --light-grey:rgb(230,236,240);
    --spacing : 15px;
    --greyText: rgb(101, 119, 134);
}
nav{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-end;
}
nav a{
    display: block;
    padding: 10px;
    font-size: 30px;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--twitter-color);
    text-decoration: none;
}
nav a:hover{
    border-radius: 50%;
    background-color: var(--button-hover-bg);
    color: var(--twitter-color);
}
.main-container{
    border-left: 1px solid var(--light-grey);
    border-right: 1px solid var(--light-grey);
    display: flex;
    flex-direction: column;
}
.title-container{
    height: 53px;
    padding: 0 var(--spacing);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--light-grey);
    flex-shrink: 0;
}
.title-container h1{
    flex:1;
}
h1{
    font-size: 19px;
    font-weight: 800;
    margin: 0;
}
.userimage-container{
    width: 50px;
    height: 50px;
}
.userimage-container img{
    width: 100%;
    border-radius: 50%;
    background-color: white;
}
.post-container{
    display: flex;
    padding: var(--spacing);
    border-bottom: 10px solid var(--light-grey);
    flex-shrink: 0;

}
.textarea-container{
    flex: 1;
    padding-left: var(--spacing);
}
.textarea-container textarea{
    width: 100%;
    border:none;
    resize: none;
    font-size: 19px;
}
textarea:focus{
    outline: none;
}
#submit-post-button{
    background-color: var(--twitter-color);
    color: white;
    border: none;
    border-radius: 40px;
    padding: 7px 15px;
}
/* -- */
.post {
    display: flex;
    flex-direction: column;
    padding: var(--spacing);
    cursor: pointer;
    border-bottom: 1px solid var(--light-grey);
    flex-shrink: 0;
  }
  
  .mainContentContainer {
    flex: 1;
    display: flex;
  }
  
  .postContentContainer {
    padding-left: var(--spacing);
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .username,
  .date {
    color: var(--greyText);
  }
  
  .displayName {
    font-weight: bold;
  }
  
  .postFooter {
    display: flex;
    align-items: center;
  }
  
  .postFooter .postButtonContainer {
    flex: 1;
    display: flex;
  }
  
  .postFooter .postButtonContainer button {
    padding: 2px 5px;
  }
  
  .header a:hover {
    text-decoration: underline;
  }
  
  .header a,
  .header span {
    padding-right: 5px;
  }
  
  /* .postButtonContainer button {
    border: none;
    background-color: white;
  }
  .postButtonContainer button:hover {
    background-color: #d4edff;
    color: var(--blue);
    border-radius: 50%;
    border: none;
    text-shadow: 1px 1px 1px var(--blue), -1px 1px 1px var(--blue);
  } */